.image {
  width: 50%;
  max-width: 650px;
}

#about img {
  flex-grow: 1;
}

#about .name {
  font-size: 7.5vw;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.9);
}

.about-me,
.message-container {
  gap: 1vh;
}

#about .description-bar {
  display: none;
}

.message {
  text-align: center;
}

@media (min-width: 350px) {
  #about svg {
    height: 20px;
    width: 20px;
  }
  .message-container {
    font-size: 3.25vw;
  }
}

@media (min-width: 0px) {
  #about svg {
    height: 21x;
    width: 21px;
  }
}

@media (min-width: 600px) {
  #about svg {
    height: 28px;
    width: 28px;
  }
  .message-container {
    font-size: 1.25rem;
  }
  #about .name {
    font-size: 3.5rem;
  }
}

@media (min-width: 1000px) {
  #about svg {
    height: 32px;
    width: 32px;
  }
  .message-container {
    font-size: 1.25rem;
  }
  #about .name {
    font-size: 3.5rem;
  }
}
