.image {
  width: 95%;
}

#about img {
  flex-grow: 1;
}

#about .name {
  font-size: 7.5vw;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.9);
}

.about-me,
.message-container {
  gap: 1vh;
}

#about .description-bar {
  display: none;
}

@media (min-width: 350px) {
  #about svg {
    height: 20px;
    width: 20px;
  }
  .message-container {
    font-size: 3.25vw;
  }
}

@media (min-width: 0px) {
  #about svg {
    height: 16px;
    width: 16px;
  }
}

@media (min-width: 600px) {
  #about svg {
    height: 23px;
    width: 23px;
  }
  .message-container {
    font-size: 1.25rem;
  }
  #about .name {
    font-size: 3.5rem;
  }
}
