@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #eee;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

html {
  height: 100%;
}

code {
  font-family: "Open Sans", "Inter", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

img {
  width: 100px;
  height: auto;
}

svg {
  height: 24px;
  width: 24px;
}
