@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #eee;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

html {
  height: 100%;
}

code {
  font-family: "Open Sans", "Inter", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

img {
  width: 100px;
  height: auto;
}

svg {
  height: 24px;
  width: 24px;
}

#about,
#proficiencies,
#projects,
#contact {
  margin: 2vh 5vw;
}

#about,
.image,
.content,
.name-container,
.message-container,
.about-me,
.related-links,
.item,
.project,
.projects-container,
.project-info,
.bottom-buttons,
.description-bar,
.contact-info,
.contact-info-container {
  display: flex;
}

#about,
.content,
.message-container,
.about-me,
.item,
.project,
.projects-container,
.project-info,
.contact-info-container {
  flex-direction: column;
}

.image,
.content,
.name-container,
.message-container,
.about-me,
.related-links,
.item,
.project,
.projects-container,
.project-info,
.bottom-buttons,
.description-bar,
.contact-info,
.contact-info-container {
  justify-content: center;
}

.content,
.name-container,
.message-container,
.about-me,
.related-links,
.item,
.project,
.projects-container,
.project-info,
.bottom-buttons,
.description-bar,
.contact-info {
  align-items: center;
}

.content {
  margin: 2vh 0;
}

.make-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.related-links {
  gap: 3vw;
}

.related-links div:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.related-links div:focus {
  transform: scale(0.9);
}

.related-links div:active {
  transform: scale(1.1);
}
