.title-container {
  display: flex;
}

.title-container {
  align-items: center;
}

.title {
  font-family: "Inter", "Open Sans", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.698);
  font-weight: 600;
}

.underline {
  height: 1.5px;
  width: 100%;
  background-color: rgba(102, 102, 102, 0.416);
}
