.item {
  width: 100%;
}

.item .item-logo {
  width: 80%;
  height: 80%;
}

#proficiencies .content {
  --n: 4;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

@media (min-width: 0px) {
  .item {
    font-size: clamp(6px, 1.5vw, 10px);
  }
}

@media (min-width: 600px) {
  .item {
    font-size: clamp(8px, 1.5vw, 12px);
  }
  #proficiencies svg {
    min-height: 60px;
    max-height: 70px;
    width: auto;
  }
}
